@font-face {
    font-family: bold;
    src: url(../fonts/SourceCodePro-Bold.otf);
}

@font-face {
    font-family: regular;
    src: url(../fonts/SourceCodePro-Regular.otf);
}

.menu{
  position: fixed;
  top: 10px;
  right: 50%;
  left: calc(50% - 10px);
  z-index: 999;
}

.dropdownmenu{
  background-color: #e15054;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  left: 0;
  top: 0;
  height: 25%;
  padding-top: 40px;
  padding-bottom: 20px;
  z-index: -1;
}

.dropdown img{
  width: 20px;
  height: 20px;
}

/*html*/
body{
  font-family: regular;
	background-color: #77C4D7;
  padding-top: 40px;
}

:focus {
  outline: 0;
}

.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.gorilla {
  width: 33%;
  height: auto;
}

h1 {
  color: black;
  font-family: bold;
}
h2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h4 {
  color: white;
  font-family: bold;
}

p {
  color: white;
  font-family: regular;
  line-height: 90%;
}

form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

ul{
  color: white;
  list-style-type: none;
  margin:0px;
  padding:0px;

}

.dotbox{
  border:none;
  border-bottom:thin dashed black;
  outline:none;
}

.field {
  background-color: #77C4D7;
  border-top-style: none;
 border-right-style: none;
 border-bottom-style: dashed;
 border-left-style: none;
 float: right;
}

.menubutton{
  background-color: #77C4D7;
  border-radius: 8px;
border: none;
color: white;
width: 140px;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 20px;
margin-top: 10px;
}

.menubutton:visited {
  background-color: #77C4D7;
  border-radius: 8px;
border: none;
color: white;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 10px;
margin-top: 10px;
}

button{
  background-color: #e25054;
  border-radius: 8px;
border: none;
color: white;
padding: 5px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

.end {
  float:right;
}

.angle-brackets{
    float:right;
}
