    <section id="up">

    <div class="home">

    <video class="videogorilla" autoplay>
    <source src="images/animatie.webm" type="video/webm">
    <source src="movie.ogg" type="video/ogg">


    </div>

    <div class="home text">
    <h3>Do you need some code? We’ve got CodeGorillas!</h3>

    <p>
         A company which trains students without any prior knowledge in a bootcamp. <p>
         Goal is to become full-stack webdevelopers by agile working and entrepreneurial learning.<p>
         As the CodeGorillas state themselves: It’s a way of life.
    </p>
    <p></p>
    </div>
    </section>

    <section id="down">

    <video class="video" muted="on" autoplay="on">
    <source src="video/Codegorilla_v02_Final.mp4" type="video/mp4">

    </section>
