<div class="home">

  <video width="320" height="240" autoplay>
    <source src="images/animatie02.webm" type="video/webm">
    <source src="movie.ogg" type="video/ogg">

<h1 style="margin-top: 0;"><span style="color: #FFF">&lt;code&gt;</span>gorilla</h1>


</div>

<div class="home">
  <h3>Do you need some code? We’ve got CodeGorillas!</h3>

  <p>
    A company which trains students without any prior knowledge in a bootcamp. <p>
      Goal is to become full-stack webdevelopers by agile working and entrepreneurial learning.<p>
         As the CodeGorillas state themselves: It’s a way of life.
  </p>


  <p>
  </p>
</div>

<p></P>

  <video width="100%" height="auto" controls poster="/images/codegorilla_wallpaper_red.png">
    <source src="images/Codegorilla_v02_Final.mp4" type="video/mp4">
    <source src="movie.ogg" type="video/ogg">
